.color-title[id="red"]{
    color: red;
    font-weight: normal;
}

.color-title[id="blue"]{
    color: lightseagreen;
    font-weight: normal;
}

.color-title[id="orange"]{
    color: orange;
    font-weight: normal;
}

.color-title[id="green"]{
    color: green;
    font-weight: normal;
}

.color-title[id="yellow"]{
    color: yellow;
    font-weight: normal;
}